<p id="notice"><%= notice %></p>

<%= form_tag projects_all_path, method: :get do %>
<%= text_field_tag :filter_state, params[:filter_state], class: "form-control", placeholder: "State" %>
<%= submit_tag "Filter", name: nil, class: "btn btn-primary btn-md" %>
<% end %>

<table>
    <% @projects.each do |project| %>
        <tr>
            <td><%= project.name%></td>
            <td><%= project.description%></td>
            <td><%= project.start_date%></td>
            <td><%= project.end_date%></td>
            <td><%= project.state%></td>
            <td><%= project.created_at.strftime("%d-%m-%Y %H:%M")%></td>
        </tr>
    <% end %>
</table>