<p id="error"><%= alert %></p>

<%= form_with model: @project, url: projects_created_path, method: :get, local: true do |form| %> 
    <%= form.text_field :name %>
    <%= form.text_area :description %>
    <%= form.date_field :start_date %>
    <%= form.date_field :end_date %>
    <%= form.text_field :state %>
    <%= form.submit "Create" %>
<% end %>
