<!DOCTYPE html>
<html>
  <head>
    <title>ProjectsChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <ul class="nav justify-content-end navbar-light bg-light">
        <li class="nav-item">
          <%= link_to "New project", projects_new_path, class: "nav-link" %>          
        </li>
        <li class="nav-item">
          <%= link_to "All projects", projects_new_path, class: "nav-link" %>          
        </li>
      </ul>



      <%= yield %>
    </div>
  </body>
</html>
